[Desktop Entry]
Type=Application
Name=TA3D
Version=0.6.0 WIP
Comment=A remake of Total Annihilation in full 3D, nice graphics :)
Encoding=UTF-8
Exec=/usr/games/ota_resources_installer.sh
Icon=/usr/share/games/ta3d/ta3d.png
Categories=Game;StrategyGame;TA3D;
Terminal=false
StartupNotify=false
