[Desktop Entry]
Name=3DMEditor
Version=0.5.4 WIP
Comment=TA3D's model editor
Encoding=UTF-8
Exec=/usr/games/3dmeditor
Icon=/usr/share/games/ta3d/3dmeditor.png
Type=Application
Categories=Application;Game;StrategyGame;TA3D;
