[Desktop Entry]
Type=Application
Name=OTA resources installer for TA3D
Version=0.6.0 WIP
Comment=a simple script to install Total Annihilation's resource files for TA3D
Encoding=UTF-8
Exec=/usr/games/ota_resources_installer.sh
Icon=/usr/share/games/ta3d/ta3d.png
Categories=Game;StrategyGame;
Terminal=true
StartupNotify=false
